In [4]:
import os
import pymysql
import pandas as pd
from sqlalchemy import create_engine

host = '127.0.0.1'
port = "3306"
user = 'root'
password = ''
database = 'classicmodels'

engine = create_engine('mysql+pymysql://'+user+':'+password+'@'+host+':'+port+'/'+database)
'''engine = create_engine('mysql+pymysql://root:@localhost:3306/academic')'''

# conn = pymysql.connect(
#     host=host,
#     port=int(port),
#     user=user,
#     passwd=password,
#     db=database,
#     charset='utf8mb4')

def run(sql):
    df = pd.read_sql_query(sql,engine)
    return df

# Konversi CSV ke DataFrame

In [7]:
# CSV to DataFrame to MySQL
df_fromcsv = pd.read_csv('data.csv')
# if_exists = 'fail' || 'replace' || 'append'
df_fromcsv.to_sql(name = 'tanaman', con = engine, if_exists = 'append', index = False)